a.scssthemedev-event, a.scssthemedev-event-head, a.scssthemedev-event-hide
{
    background-color: rgb(28, 46, 46);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 2px;
    margin-right: 2px;
}

a.scssthemedev-event-head
{
	background-color: rgb(61, 102, 102);
}

a.scssthemedev-event-hide
{
	background-color: rgb(199, 0, 0);
}
