{%- if marttiphpbb_scssdev.enable -%}
    {%- if marttiphpbb_scssdev.errors -%}
        <div class="panel" style="background: #faa; color: black;">
        {%- for e in marttiphpbb_scssdev.errors -%}
            <p>{{- e -}}</p>
        {%- endfor -%}
        </div>
    {%- endif -%}
    <form method="post">
    <label>{{- lang('MARTTIPHPBB_SCSSDEV_FILE') -}}{{- lang('COLON') }}
    <select name="marttiphpbb_scssdev_file" id="marttiphpbb_scssdev_file">
        <option value=""{%- if not marttiphpbb_scssdev.file %} selected{%- endif -%}>** {{ lang('MARTTIPHPBB_SCSSDEV_NONE') }} **</option>
        {%- for f in marttiphpbb_scssdev.files -%}
            <option value="{{- f -}}"{%- if marttiphpbb_scssdev.file == f %} selected{%- endif -%}>{{- f -}}.scss</option>
        {%- endfor -%}
    </select>
    </label>
    <label>{{- lang('MARTTIPHPBB_SCSSDEV_NEW_FILE') -}}{{- lang('COLON') }}
        <input type="text" name="marttiphpbb_scssdev_new" value="">
    </label>
    <textarea name="marttiphpbb_scssdev_content"{{- marttiphpbb_codemirror.data_attr ?? '' -}}>
        {{- marttiphpbb_scssdev.content -}}
    </textarea>
    <input type="submit" name="marttiphpbb_scssdev_submit" id="marttiphpbb_scssdev_submit" value="{{- lang('MARTTIPHPBB_SCSSDEV_PROCESS_AND_SAVE') -}}" class="button1 default-submit-action">
    </form>
    {%- if marttiphpbb_scssdev.file -%}
        {%- INCLUDECSS marttiphpbb_scssdev.path ~ marttiphpbb_scssdev.file ~ '.css?v=' ~ marttiphpbb_scssdev.version -%}
    {%- endif -%}
    {%- INCLUDEJS '@marttiphpbb_scssdev/scssdev.js' -%}
{%- endif -%}
